#Path {
    stroke-dashoffset: 10000;
    stroke-dasharray: 10000;
    animation-name: padda;
    animation-duration: 8s;
    animation-timing-function: ease-in;     
    animation-fill-mode: forwards;            
}
#Polygon {
    stroke-dashoffset: 10000;
    stroke-dasharray: 10000;
    animation-name: padda;
    animation-duration: 8s;
    animation-timing-function: ease-in;      
    animation-fill-mode: forwards;           
}

@keyframes padda {
    to {
        stroke-dashoffset: 0;
    }
}